{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
        <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL }}style.css"/>
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/untitled-5.css">
    <title>{% block title %}kitchenDiary{% endblock %}</title>

<style>
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus,
    .nav-tabs > li.active > a:hover
    {
    color:#555;
    backgroung-color:#ddd;
    border:1px solid #ddd;
    }

.nav >li >a:focus, .nav > li>a:hover{
    background-color:#eee;
    }
    .nav > li >a {
    position: relative;
    display:block;
    padding:10px 15px;
    }
    .my_class_name{
}

.my_class_name{
  margin:0 auto;
  border:10px outset #ddd;
}

.my_class_name{
}

.bg-info{
  background-color:#d75e5e;
}

body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:16px;
  line-height:1.42857143;
  color:#333;
  background-color:black;
}


.container
{
margin-top:100px;
}


</style>
</head>
<body>
  <div class="container">
        <div class="row">
            <div class="col-md-7">
<iframe width="560" height="315" src="https://www.youtube.com/embed/UixVHwtAyhU?start=1" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
            <div class="col-md-5">
                <div>
                    <ul class="nav nav-tabs">
                        <li><a class="text-uppercase text-warning" href="#tab-1" role="tab" data-toggle="tab">Ingredients </a></li>
                        <li><a class="text-uppercase" href="#tab-2" role="tab" data-toggle="tab">Directions </a></li>
                        <li><a class="text-uppercase text-danger" href="#tab-3" role="tab" data-toggle="tab">Nutrition </a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <p class="text-warning">3 medium raw bananas, boiled, peeled and mashed
<br>2 medium potatoes, boiled, peeled and grated
<br>1 medium onion, finely chopped
<br>1 teaspoon dried mango powder (amchoor)
<br>1 teaspoon garam masala powder
<br>Salt to taste
<br>1 teaspoon red chilli powder
<br>1 tablespoon finely chopped fresh coriander leaves
<br>1/2 cup dried breadcrumbs
<br>1/2 cup semolina (sooji)
<br>Oil to shallow fry


                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <p class="text-success">1. Put bananas and potatoes in a mixing bowl and mix well.
<br>2. Add onion, amchoor powder, garam masala powder, salt, red
        chilli powder and coriander leaves and mix well.
<br>3. Put breadcrumbs and semolina in a plate, mix well and
        spread.
<br>4. Divide the banana mixture into equal portions and shape into
        tikkis.
<br>5. Heat oil in a non-stick pan.
<br>6. Roll the tikkis in the breadcrumb-semolina mixture and
        shallow-fry them in the hot oil till they become crisp and
        golden on both the sides. Drain on absorbent paper.
<br>7. Arrange them on a serving plate and serve hot.
</p>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <p class="text-danger"> 320 calories<br>15g fat<br> 2g fiber<br> 2g protein<br>47g carbs<br> and 29g sugar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a><img></a>
                    </div>
                    <div class="media-body">
                        <h4 class="text-danger">Raw Banana Cutlets</h4>
                        <p class="text-primary">Steamed raw banana mixed with soaked pressed rice to make these delicious cutlets.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
   <script></script>

</html>
{% endblock content %}
