{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
        <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/res/style.css' %}">
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
    <link rel="stylesheet" href="assets/css/untitled-5.css">
    <title>{% block title %}kitchenDiary{% endblock %}</title>

<style>



</style>
</head>
<body>
  <div class="container">
        <div class="row">
            <div class="col-md-7">
<iframe width="560" height="315" src="https://www.youtube.com/embed/DETP_5mJobc" frameborder="5" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
            <div class="col-md-5">
                <div>
                    <ul class="nav nav-tabs">
                        <li><a class="text-uppercase text-warning" href="#tab-1" role="tab" data-toggle="tab">Ingredients </a></li>
                        <li><a class="text-uppercase" href="#tab-2" role="tab" data-toggle="tab">Directions </a></li>
                        <li><a class="text-uppercase text-danger" href="#tab-3" role="tab" data-toggle="tab">Nutrition </a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="tab-1">
                            <p class="text-warning">Refined Flour (मैदा)  - 1 cup ( 125 grams)
<br>Chickpea flour (बेसन )  - 2 tbsp (15 gms)
<br>Semolina (सूजी )  - 2 tbsp (15 gms)
<br>Sugar powder (पाउडर चीनी )  - 3/4 cup (125 gms)
<br>Ghee (घी )  - more than 1/2 cup (125 gms)
<br>Baking powder (बेकिंग पाउडर ) - 1 tsp
<br>Green Cardamom (इलायची)  - 1/2 tsp (powder)
<br>Salt (नमक )  - 1/2 kg (used)
<br>Pistachios (पिस्ता ) - 5 to 6 (grated)


                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-2">
                            <p class="text-success">1.  To make dough take refined flour, semolina and chickpea flour. Mix all ingredients well.
<br>2. In a mixing bowl add ghee, powdered sugar.Whisk well till it is puffy. Add baking powder, cardamom powder to it.Mix all well. Now add refined flour, semolina and chickpea flour mix and make dough.
<br>3. keep the cooker to heat up. Add 1/2 kg salt in the cooker. Put the jali stand over it.Cover it and let the cooker heat up well.
<br>4. To make Nan Khatai take a plate that fits in the cooker. Grease the plate with a little ghee.

<br>5. Take out a little dough, Make it round then press lightly and give desired shape. Arrange in plate at distance. Mark a cross on the Nan khatai with a knife. Add some grated pistachios over it.
<br>6. As the Cooker is heated well. Keep the Nan Khatai filled plate in the cooker. Cover and bake it on medium flame for 10 minutes.
<br>7. After 10 minutes, check the Nankhatai, if it is puffy and roasted. Close the cooker again and keep flame high till it seems brown from above.
<br>8. Once baked and ready, take out the plate from the cooker carefully, prepare the next batch and rest of Nankhatai likewise. Once baked keep to cool. 
</p>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="tab-3">
                            <p class="text-danger"> 320 calories<br>15g fat<br> 2g fiber<br> 2g protein<br>47g carbs<br> and 29g sugar.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="media">
                    <div class="media-left">
                        <a><img></a>
                    </div>
                    <div class="media-body">
                        <h4 class="text-danger">Nankhatai</h4>
                        <p class="text-primary">Long before we Indians taste our first cookie or shortbread, we are acquainted with Nankhatai, or ‘Bakery Biscuit’ as it was called in my household. Available in sweet and salty versions,
                          <br> this is the ultimate crumbly accompaniment to that seaming hot cup of Chai. (Tea and scones anyone?)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
   <script></script>

</html>
{% endblock content %}
